@page "/{slug}/Play/{state}"
@model Dgf.Web.Pages.PlayModel
@{ 
    ViewData["PageClass"] = "play";
    ViewData["Title"] = $"Playing - {Model.Game.Name}";
}

<div class="game-container">

    <h1 class="state-title @Model.GameStateDescription.Summary.Title.Classes">
        <vc:item-display game="Model.Game" item="Model.GameStateDescription.Summary.Title" href=""></vc:item-display>
    </h1>

    @if (Model.GameStateDescription.Summary.Attributes != null)
    {
        <div class="state-status-attributes">
            <ul class="state-status-attribute-list">
                @foreach (var attrib in Model.GameStateDescription.Summary.Attributes)
                {
                    <li class="state-status-attribute-item @attrib.Classes">
                        <vc:item-display game="Model.Game" item="attrib" href=""></vc:item-display>
                    </li>
                }
            </ul>
        </div>
    }
    
    <div class="state-description @Model.GameStateDescription.Summary.Description.Classes">
        <vc:item-display game="Model.Game" item="Model.GameStateDescription.Summary.Description" href=""></vc:item-display>
    </div>

    <div class="interaction-result @Model.GameStateDescription.Status.Classes">
        <vc:item-display game="Model.Game" item="Model.GameStateDescription.Status" href=""></vc:item-display>
    </div>

    <div class="hidden" id="sfx" data-sound="@Model.GameStateDescription.Summary.SfxUri"></div>
    <div class="hidden" id="music" data-song="@Model.GameStateDescription.Summary.MusicUri"></div>

    <ul class="transition-list">
        @foreach (var transition in Model.GameStateDescription.Transitions)
        {
            <li class="transition-option @transition.Display.Classes">
                <vc:item-display game="Model.Game" item="transition.Display" href="@Model.GetUrl(transition.State)"></vc:item-display>
            </li>
        }
    </ul>
</div>

