@page "/{slug}/Play/{state}"
@model Dgf.Web.Pages.PlayModel
@{ 
    ViewData["PageClass"] = "play";
    ViewData["Title"] = $"Playing - {Model.Game.Name}";
}

<h1 class="state-title">@CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Title)</h1>

<div class="state-description">
    @CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Description)
</div>

<div class="hidden" id="sfx" data-sound="@Model.GameStateDescription.Summary.SfxUri"></div>
<div class="hidden" id="music" data-song="@Model.GameStateDescription.Summary.MusicUri"></div>

<ul class="transition-list">
    @foreach (var transition in Model.GameStateDescription.Transitions)
    {
    <li class="transition-option @transition.Display.Classes">
        @if (transition.Display.ImageUri != null)
        {
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="colorMask3">
                        <feFlood flood-color="currentColor" result="flood" />
                        <feComposite in="SourceGraphic" in2="flood" operator="arithmetic" k1="1" k2="0" k3="0" k4="0" />
                    </filter>
                </defs>
                <image width="100%" height="100%" xlink:href="@transition.Display.ImageUri" filter="url(#colorMask3)" />
            </svg>
        }
        <a href="@Model.GetUrl(transition.State)">@CommonMark.Encode(Model.Game, transition.Display.Text)</a>
    </li>}
</ul>


